<%- include('partials/header.ejs') %>
    <%- include('partials/nav.ejs') %>
    <section>
        <br>
        <style>
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

input,
select,
button {
    margin-bottom: 10px;
    padding: 8px;
}

label {
    display: block;
    margin-bottom: 5px;
}

.input-group {
    margin-bottom: 15px;
}

button {
    background-color: #4caf50; /* Green */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

button.limpiarButton {
    background-color: #f44336; /* Red */
}

#resultSection {
    border: 1px solid #ccc;
    padding: 15px;
    margin-top: 20px;
}
</style>


        <div class="container">
            <form action="cotizacion" method="post" id="cotizacionForm">
                <div class="input-group">
                    <label for="numFolio"></label>
                    <input type="text" id="numFolio" name="numFolio" placeholder="Número de Folio" required>
                </div>
                <div class="input-group">
                    <label for="descripcion"></label>
                    <input type="text" id="descripcion" name="descripcion" placeholder="Descripción del Automóvil" required>
                </div>
                <div class="input-group">
                    <label for="precio"></label>
                    <input type="text" id="precio" name="precio" placeholder="Precio" required>
                </div>
                <div class="input-group">
                    <label for="porcentajeInicial"></label>
                    <input type="text" id="porcentajeInicial" name="porcentajeInicial" placeholder="Porcentaje de Pago Inicial" required>
                </div>
                <select id="plazo" name="plazo" required>
                    <option value="" disabled selected hidden>Plazo</option>
                    <option value="12">12 meses</option>
                    <option value="24">24 meses</option>
                    <option value="36">36 meses</option>
                    <option value="48">48 meses</option>
                </select>
                <br>
                <button type="submit" class="calcularButton">Calcular Cotización</button>
                <button type="button" class="limpiarButton" onclick="limpiarFormulario()">Limpiar</button>
            </form>
        </div>
    </section>
    <br>
    <section>
        <div class="container">
            <div id="resultSection">
                <h4>Resultados De La Cotizacion</h4>
                <p id="pagoInicial">Pago Inicial: $<%= typeof pagoInicial !== 'undefined' ? pagoInicial.toFixed(2) : '' %></p>
                <p id="totalFinanciar">Total a Financiar: $<%= typeof totalFinanciar !== 'undefined' ? totalFinanciar.toFixed(2) : '' %></p>
                <p id="pagoMensual">Pago Mensual: $<%= typeof pagoMensual !== 'undefined' ? pagoMensual.toFixed(2) : '' %></p>
            </div>            
        </div>
    </section>
    <br>
    <%- include('partials/footer.ejs')%>
    <script>
        function limpiarFormulario() {
            document.getElementById("cotizacionForm").reset();
            document.getElementById("pagoInicial").innerText = "Pago Inicial: $";
            document.getElementById("totalFinanciar").innerText = "Total a Financiar: $";
            document.getElementById("pagoMensual").innerText = "Pago Mensual: $";
        }
    </script>
</body>
</html>